/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#include "ath79.dtsi"

/ {
	compatible = "qca_ap152", "qca,ath79";
	model = "QCA AP152 Board";

	alias {
		serial0 = "/ahb/apb/uart@18020000";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x2000000>;
	};

	extosc: oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <40000000>;
	};

	ahb {
		apb {
			uart@18020000 {
				status = "okay";
			};

			pll-controller@18050000 {
				clocks = <&extosc>;
			};

			ehci0: usb@1b000000 {
				compatible = "generic-ehci", "ehci-platform";
				reg = <0x1b000000 0x200>;
				interrupt-parent = <&ip3_int>;
				interrupts = <0>;
				has-transaction-translator;
				qca_force_host_mode;
				qca_force_16bit_ptw;
				caps-offset = <0x100>;
				status = "okay";
			};

			ehci1: usb@1b400000 {
				compatible = "generic-ehci","ehci-platform";
				reg = <0x1b400000 0x200>;
				interrupt-parent = <&ip3_int>;
				interrupts = <1>;
				has-transaction-translator;
				qca_force_host_mode;
				qca_force_16bit_ptw;
				caps-offset = <0x100>;
				status = "okay";
			};

			pci: pci@0x16000000 {
				compatible = "qca,ar724x-pci";
				reg = <0x16000000 0x1000>,
				      <0x18280000 0x100>,
				      <0x18250000 0x1000>,
				      <0x12000000 0x02000000>,
					<1 1>;
				reg-names = "cfg_base","ctrl_base","crp_base",
						"mem_base","io_base";
				interrupt-parent = <&ip2_int>;
				interrupts = <0>;
				status = "okay";
			};
		};

		spi_0: spi@1f000000 {
			status = "okay";
			m25p80@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "n25q128a11";
				linux,modalias = "m25p80", "n25q128a11";
				reg = <0>;
				spi-max-frequency = <25000000>;

				partition@0 {
					label = "u-boot";
					reg = <0x000000 0x040000>;
				};

				partition@1 {
					label = "u-boot-env";
					reg = <0x040000 0x050000>;
				};

				partition@2 {
					label = "rootfs";
					reg = <0x050000 0xe80000>;
				};

				partition@3 {
					label = "kernel";
					reg = <0xe80000 0xff0000>;
				};

				partition@4 {
					label = "art";
					reg = <0xff0000 0x1000000>;
				};

				partition@5 {
					label = "firmware";
					reg = <0x50000 0xff0000>;
				};
			};
		};

	};

	gpio-keys {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;

		poll-interval = <20>;
		button@0 {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&gpio 2 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};

		button@1 {
			label = "WPS button";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio 1 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led@0 {
			label = "ap152:green:usb0";
			gpios = <&gpio 7 GPIO_ACTIVE_LOW>;

		};

		led@1 {
			label = "ap152:green:usb1";
			gpios = <&gpio 8 GPIO_ACTIVE_LOW>;

		};

	};
};
