// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * at91-centurysys-gemini-06-overlay.dts - Device Tree Overlay file (xio_id: 0x06)
 *                                           for Century Systems Gemini board
 *
 *  Copyright (C) 2022 Century Systems
 *                     Takeyoshi Kikuchi <kikuchi@centurysys.co.jp>
 */

/dts-v1/;
/plugin/;
#include "sama5d2-pinfunc.h"
#include <dt-bindings/dma/at91.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/at91.h>
#include <dt-bindings/mfd/atmel-flexcom.h>
#include <dt-bindings/pinctrl/at91.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "atmel,sama5d2-gemini", "atmel,sama5d2", "atmel,sama5";

	fragment@0 {
		target = <&pioA>;
		__overlay__ {
			pinctrl_flx3_uart_default: flx3_usart_default {
				pinmux = <PIN_PC20__FLEXCOM3_IO0>, //TX
					 <PIN_PC19__FLEXCOM3_IO1>; //RX
				bias-disable;
			};
		};
	};

	fragment@1 {
		target-path = "/";
		__overlay__ {
			vadc_fixed: fixedregulator_adc {
				compatible = "regulator-fixed";
				regulator-name = "VADC_5V";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
			};
		};
	};

	fragment@2 {
		target = <&flx3>;
		__overlay__ {
			atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
			#address-cells = <1>;
			#size-cells = <1>;
			status = "okay";

			uart6: serial@200 {
				compatible = "atmel,at91sam9260-usart";
				reg = <0x200 0x200>;
				interrupt-parent = <&aic>;
				interrupts = <22 IRQ_TYPE_LEVEL_HIGH 7>;
				dmas = <&dma0
					(AT91_XDMAC_DT_MEM_IF(0) | AT91_XDMAC_DT_PER_IF(1)
					| AT91_XDMAC_DT_PERID(17))>,
				       <&dma0
					(AT91_XDMAC_DT_MEM_IF(0) | AT91_XDMAC_DT_PER_IF(1)
					| AT91_XDMAC_DT_PERID(18))>;
				dma-names = "tx", "rx";
				clocks = <&pmc PMC_TYPE_PERIPHERAL 22>;
				clock-names = "usart";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_flx3_uart_default>;
				atmel,fifo-size = <32>;
				atmel,use-dma-rx;
				atmel,use-dma-tx;
				status = "okay";
			};
		};
	};

	fragment@3 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			/* Water Meter Option (xio_id: 6) */
			ltc2487: ltc2487@14 {
				compatible = "lltc,ltc2487";
				reg = <0x14>;
				vref-supply = <&vadc_fixed>;
			};

			tca9538: tca9538@70 {
				compatible = "nxp,pca9538";
				reg = <0x70>;
				#address-cells = <1>;
				#size-cells = <0>;
				#gpio-cells = <2>;

				gpio-line-names = "eFUSE_SHDN_N",
						  "eFUSE_FLT_N",
						  "Reserved2",
						  "Reserved3",
						  "DISO_PDIS_N",
						  "Reserved5",
						  "Reserved6",
						  "TXD_Enable";
			};
		};
	};

	fragment@4 {
		target = <&leds>;
		__overlay__ {
			tca953x_efuse_shdn_n {
				label = "VOUT_CTRL";
				gpios = <&tca9538 0 GPIO_ACTIVE_HIGH>;
			};

			tca953x_adc_vcc_on {
				label = "ADC_VCC_ON";
				gpios = <&tca9538 4 GPIO_ACTIVE_HIGH>;
				default-state = "on";
			};

			tca953x_txd_enable {
				label = "TXD_Enable";
				gpios = <&tca9538 7 GPIO_ACTIVE_HIGH>;
			};
		};
	};
};
